# Ignore everythingruns
#*

# But not these files...
!.gitignore
!.gitattributes
.gitignore.bak

!build.bat
!build.tcl
*.log
*.jou
*.str
*.analytics


/XILINX_PYNQ_Z2/*
/.Xil/*
/NA/*

/Vitis/.metadata/
/Vitis/RemoteSystemsTempFiles/
/Vitis/ZYNQ_platform/*
!/Vitis/ZYNQ_platform/platform.tcl
